<!DOCTYPE html>
<html>
  <head>
    <title>add invoice</title>
    <%- include layout/link_head %>
  </head>
  <body>
    <%- include layout/header %>
    <%= JSON.stringify(query) %>
    <div class="container">
      <h3>INVOICE ADD FORM</h3>
      <form action="/invoice/add" method="post" class="form-horizontal">
        <div class="form-group">
          <label class="control-label col-sm-2">Invoice Number :</label>
          <div class="col-sm-10">
            <p class="form-control-static"><input type="text" name="invoice_number"/></p>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2">Invoice Date :</label>
          <div class="col-sm-10">
            <p class="form-control-static"><input type="date" name="invoice_date"/></p>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2">Customer Name :</label>
          <div class="col-sm-10">
            <p class="form-control-static">
            <select name="CustomerId" class="control-label col-sm-2 btn btn-primary btn-select btn-select-light">
            <% query.forEach(customer => { %>
              <option value="<%= customer.id %>"><%= customer.customer_name %></option>
            <% }) %>
            </select>
            </p>
            <!-- <p class="form-control-static"><input type="text" name="CustomerId" value=""/></p> -->
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2">Status :</label>
          <div class="col-sm-10">
            <p class="form-control-static"><input type="text" name="status"/></p>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2">Total :</label>
          <div class="col-sm-10">
            <p class="form-control-static"><input type="text" name="total"/></p>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2"></label>
          <div class="col-sm-10">
            <input type="submit" class="btn btn-success" value="add Invoice"/>
          </div>
        </div>
    </div>

  </body>
</html>
