<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Transactions</title>
    <%- include layout/link_head %>
  </head>
  <body>
    <%- include layout/header %>    
    <!-- <%= JSON.stringify(query) %> -->
    <h2 align="center">TRANSACTIONS</H2>
    <p></p>
    <table class="table table-hover">
      <tr>
        <th>No.</th>
        <th>CUSTOMER NAME</th>
        <th>ITEM NAME</th>
        <th>QUANTITY</th>
        <th>ACTIONS</th>
      </tr>
      <tr>
      <% query.forEach((transaction, nomor) => { %>
        <!-- <%= JSON.stringify(transaction) %> -->
        <td><%= nomor + 1 %>.</td>    
        <td><%= transaction.customer_name %></td>
        <td>
          <% transaction.Items.forEach(item => { %>
            <p><li><%= item.nama_item %></p></li> 
          <% }) %>
        </td>
        <td><%=transaction.qty %></td>
        <td><a href="/edit/<%= transaction.id %><%=  %>">EDIT</a> || 
          <a href="/delete/<%= transaction.id %><%=  %>" style="color:red" onclick="return confirm('Are you sure want to delete this record?')">DELETE</a></td> 
      </tr>
      <% }) %>
    </table>
  </body>
</html>